@model COMP1640.Models.Article

@{
	ViewData["Title"] = "Edit Submission";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main__container">
	<div class="grid wide">
		<div class="row main__content">
			<div class="col l-8 l-o-2">
				<h1 style="font-size: 2.2rem;">Edit Contribution</h1>
				<form asp-controller="Submission" asp-action="EditSubmission" asp-route-id="@Model.ArticleId" method="post" id="add-form" enctype="multipart/form-data">
					<div class="form-content">
						<input type="hidden" asp-for="ArticleId" />
						<div class="input-box">
							<label>Title</label>
							<input type="text" id="title" asp-for="Title" />
						</div>
						<div class="input-box">
							<label>Faculty</label>
							<input placeholder="@ViewBag.Faculty" />
							@* <select asp-for="FacultyId" asp-items="@ViewBag.Faculty" disabled>
								<option selected></option>
							</select> *@
						</div>
						<div class="input-box">
							<label>Term</label>
							<input placeholder="@ViewBag.Term" />
							@* <input type="text" id="term" placeholder="@term.TermName (From @term.StartDate.ToString("dd/MM/yyyy") to @term.EndDate.ToString("dd/MM/yyyy"))" disabled /> *@
						</div>
						<div class="input-box">
							<div id="image-upload-wrapper">
								<label>Image Uploader</label>
								<input type="file" id="image-upload" name="img" accept="image/*" hidden>
								<label for="image-upload" class="img-upload-label" id="img-view"
									   style="background-image: url('@Url.Content("~/UploadedFiles/" + Model.ArticleId + "/" + Model.ImagePath)');
                                           height: 300px;
                                           border: 1px solid #00000033">
								</label>
							</div>
						</div>
						<div class="input-box">
							<div id="file-upload-wrapper">
								<label>File Uploader</label>
								<input type="file" id="file-upload" name="file" accept=".doc,.docx,.pdf" hidden>
								<label for="file-upload" class="upload-label">
									<span><i class="fas fa-cloud-upload-alt"></i></span>
									<p>Browse File to Upload</p>
								</label>
								<div id="file-wrapper">
									@if (Model.Content != null)
									{
										<div class="show-file-box">
											<div class="left">
												<span class="file-type">@ViewBag.Extension</span>
												<h3 class="file-name">@ViewBag.FileName</h3>
											</div>
											<div class="right">
												<span>&check;</span>
											</div>
										</div>
									}
								</div>
							</div>
						</div>
					</div>

					<div class="form-actions">
						<button type="submit" class="btn primary">
							Save
						</button>
						<a asp-controller="Home" asp-action="Index" class="btn secondary">
							Cancel
						</a>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>

<script src="~/js/upload.js"></script>
