﻿@{
    ViewData["Title"] = "Edit User";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model COMP1640.Models.User

<div class="section__body">
    <div class="container">
        <div class="title">Edit User</div>
        <div class="content">
            <form asp-area="Admin" asp-controller="User" asp-action="Edit" method="post">
                <div class="form-details">
                    @Html.HiddenFor(m => m.UserId)
                    @Html.HiddenFor(m => m.Password)

                    <div class="input-box">
                        <span class="details">Username</span>
                        <input type="text" id="username" name="Username" value="@Model.Username">
                    </div>

                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="email" id="email" name="Email" value="@Model.Email">
                    </div>

                    <div class="input-box">
                        <span class="details">Role</span>
                        <select name="RoleId" id="role">
                            <option value="">--Select role--</option>
                            @foreach (var role in ViewBag.Roles)
                            {
                                <option value="@role.RoleId">@role.RoleName</option>
                            }
                        </select>
                    </div>

                    <div class="input-box">
                        <span class="details">Faculty</span>
                        <select name="FacultyId" id="faculty">
                            <option>--Select faculty--</option>
                            @foreach (var faculty in ViewBag.Faculties)
                            {
                                <option value="@faculty.FacultyId">@faculty.FacultyName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="button__container">
                    <button type="submit" class="btn primary">Save</button>
                    <a asp-area="Admin" asp-controller="User" asp-action="Index" class="btn secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>