@{
    ViewData["Index"] = "Edit faculty";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model COMP1640.Models.Faculty

<div class="section__body">
    <div class="container">
        <div class="title">Add faculty</div>
        <div class="content">
            <form asp-area="Admin" asp-controller="Faculty" asp-action="Edit" method="post">
                @Html.HiddenFor(x => x.FacultyId)

                <div class="form-details">
                    <div class="input-box">
                        <span class="details">Faculty name</span>
                        <input type="text" id="FacultyName" name="FacultyName" value="@Model.FacultyName">
                    </div>
                </div>

                @* <div class="form-details">
                    <div class="input-box">
                        <span class="details">Coordinator</span>
                        <select id="coorId" name="coorId">
                            @foreach (var user in ViewBag.Users)
                            {
                                if (user.RoleId == 3)
                                {
                                    <option value="@user.UserId">@user.Username</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-details">
                    <div class="input-box">
                        <span class="details">Guest account</span>                       
                        <select id="guestId" name="guestId">
                            @foreach (var user in ViewBag.Users)
                            {
                                if (user.RoleId == 10)
                                {
                                    <option value="@user.UserId">@user.Username</option>
                                }
                            }
                        </select>
                    </div>
                </div> *@

                <div class="button__container">
                    <button type="submit" class="btn primary">Save</button>
                    <a asp-area="Admin" asp-controller="Faculty" asp-action="Index" class="btn secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>