@{
    ViewData["Title"] = "Contribute Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var role = Context.Session.GetString("Role");
}

@model COMP1640.Models.Article

<div class="main__container">
    <div class="grid wide">
        <div class="row sm-gutter main__content">

            <div class="col l-8 l-o-2">
                <div class="item__detail">
                    <div class="item__bg" style="background-image: url('@Url.Content("~/UploadedFiles/" + Model.ImagePath)');"></div>
                    <h1 class="item__title">@Model.Title</h1>
                    <h2 class="item__description">Plus: A brief history of art on the moon</h2>
                    <div class="author__detail">
                        <div class="author__avatar">
                            <img src="~/img/user_avatar.png">
                        </div>
                        <div class="author__info">
                            <div class="author-name">
                                @foreach (var user in ViewBag.Users)
                                {
                                    if (user.UserId == Model.UserId)
                                    {
                                        <p>@user.Username</p>
                                    }
                                }
                            </div>
                            <div class="update-time">
                                <p>@String.Format("{0:D}", @Model.SubmissionDate)</p>
                            </div>
                        </div>
                    </div>
                    @if (role != null)
                    {
                        @if (role.Equals("Marketing Manager"))
                        {
                            <a href="./code.png" download="image" class="btn download-btn">
                                Download
                                <i class="fa-solid fa-download"></i>
                            </a>
                        }
                    }
                </div>

            </div>

        </div>
    </div>
</div>
