@model X.PagedList.IPagedList<Article>

@foreach (var article in Model)
{
    <div class="col l-4 m-6 c-12">
        <a asp-controller="Submission" asp-action="ContributeDetail" asp-route-id="@article.ArticleId" class="home-item">
            <div loading="lazy" class="home-item__img"
                 style="background-image: url('@Url.Content("~/UploadedFiles/" + article.ArticleId + "/" + article.ImagePath)');">
            </div>
            <h3 class="home-item__title">@article.Title</h3>
            <div class="home-item__detail">
                <div class="author__img-container">
                    <img loading="lazy" src="~/img/@article.User?.Avatar">
                </div>
                <ul class="author__profile">
                    <li class="author__name">@article.User?.Username</li>
                    <li class="home-item__date">@String.Format("{0:MMMM dd, yyyy}", @article.SubmissionDate)</li>
                </ul>
            </div>
            @switch (article.Status)
            {
                case "Pending":
                    <div class="home-item__status pending">
                        <i class="fa-solid fa-spinner"></i>
                        <span>@article.Status</span>
                    </div>
                    break;
                case "Approved":
                    <div class="home-item__status published">
                        <i class="fa-solid fa-check"></i>
                        <span>@article.Status</span>
                    </div>
                    break;
                case "Rejected":
                    <div class="home-item__status rejected">
                        <i class="fa-solid fa-xmark"></i>
                        <span>@article.Status</span>
                    </div>
                    break;
            }
        </a>
    </div>
}
